################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp2/.vs/ConsoleApp2/FileContentIndex/e58f5d89-c0c3-4e80-8c99-47e4821bef01.vsidx
